/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos para o tema claro */
body.light-theme {
  background-color: #fff;
  color: #000;
}

body.light-theme #welcome-message {
  background-color: #e0e0e0;
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  display: none; /* Inicialmente escondido */
}

/* Estilos para o tema escuro */
body.dark-theme {
  background-color: #121212;
  color: #fff;
}

body.dark-theme #welcome-message {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  display: none; /* Inicialmente escondido */
}

/* Estilo do botão de alternância de tema */
#theme-toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#theme-toggle-btn:hover {
  background-color: #006F8E;
}
